<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Tracers"
            id="com.QATracer.nasser.eclipse">
      </category>
      <view
            name="QATracer View"
            icon="icons/sample.gif"
            category="com.QATracer.nasser.eclipse"
            class="com.qatracer.nasser.eclipse.views.QATracerView"
            id="com.qatracer.nasser.eclipse.views.QATracerView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.qatracer.nasser.eclipse.views.QATracerView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
